@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0f1e;
  --foreground: #e0e7ff;
  --primary-blue: #3b82f6;
  --dark-blue: #1e3a8a;
  --light-blue: #60a5fa;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
